<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009694205174-rdrsndbu0pamvijpqi1eccbff6kcrgr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009694205174-rdrsndbu0pamvijpqi1eccbff6kcrgr1</string>
	<key>API_KEY</key>
	<string>AIzaSyCH0zsPbe9BOr6mF8uBkC-7hzTxJcZrVWk</string>
	<key>GCM_SENDER_ID</key>
	<string>1009694205174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.transcriptics.BellTest</string>
	<key>PROJECT_ID</key>
	<string>my-project-267123</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-267123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009694205174:ios:f049a9bb01a570faf1f8d7</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-267123.firebaseio.com</string>
</dict>
</plist>